<ng-container *ngIf="pets$ | async">

  <app-pet-small-card
    (deletedPetId)="deletePet($event)"
    (updatedPetData)="updatePet($event)"
    *ngFor="let petUnit of pets$ | async"
    [pet]="{
      name: petUnit.name || defaultPet.NAME,
      animalType: petUnit.animalType || defaultPet.TYPE,
      breed: petUnit.breed || defaultPet.BREED,
      description: petUnit.description || defaultPet.DESCRIPTION,
      age: petUnit.age || defaultPet.AGE,
      inoculations: petUnit.inoculations || defaultPet.INOCULATIONS,
      diseases: petUnit.diseases || defaultPet.DISEASES,
      parasites: petUnit.parasites || defaultPet.PARASITES,
      _id: petUnit._id
    }"
  >
  </app-pet-small-card>
  <div *ngIf="deletedPet$ | async"></div>
  <div *ngIf="updatedPet$ | async"></div>
</ng-container>
