<div class="intro">
  <div class="intro__container">
    <div class="intro__info">
      <p class="intro__info-header">
        Not only people need a house
      </p>
      <p class="intro__info-description">
        We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!
      </p>
      <button>
        <a href="#pets">Make a friend</a> </button>
    </div>
    <div class="intro__img">
      <img src="../../../../assets/images/start-screen-puppy.png" alt="dog">
    </div>
  </div>
</div>
