@import '../../../../palette.scss';

.add-card {
  display: flex;
  align-items: center;
  width: 270px;

  margin: 10px;

  &__button {
    width: 250px;
    height: 365px;
    border-radius: 1%;

    &:hover {
      background-color: $main-background-grey;
      transition: 0.5s;
    }
  }
}
