<h2 mat-dialog-title>Update Pet data</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput required focus [(ngModel)]="updatedPet.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Animal type</mat-label>
      <input matInput required [(ngModel)]="updatedPet.animalType">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Breed</mat-label>
      <input matInput required [(ngModel)]="updatedPet.breed">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput required [(ngModel)]="updatedPet.description">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput required [(ngModel)]="updatedPet.age">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Inoculations</mat-label>
      <input matInput [(ngModel)]="updatedPet.inoculations">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Diseases</mat-label>
      <input matInput [(ngModel)]="updatedPet.diseases">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Parasites</mat-label>
      <input matInput [(ngModel)]="updatedPet.parasites">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="updatePet()" [mat-dialog-close]="true" cdkFocusInitial >Update Pet</button>
</mat-dialog-actions>
