@import '../../../../../palette.scss';

.dialog {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 500px;

  &__img {
    width: 30%;
  }

  &__info {
    width: 70%;
    margin-left: 30px;

    &-title {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $main-black;
    }

    &-subtitle {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: $main-black;
    }

    &-description {
      margin-top: 40px;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: $main-black;
    }

    &-details {
      margin-top: 40px;

      &-container {
        display: flex;
        flex-direction: row;
      }

      &-title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $main-black;
      }

      &-value {
        margin-left: 5px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $main-black;
      }
    }
  }
}
