@import '../../../../palette.scss';

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  height: 60px;
  z-index: 2;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: start;

    &-title {
      margin-top: 30px;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
      display: flex;
      align-items: center;
      letter-spacing: 0.06em;
      color: $main-beige;
    }

    &-subtitle {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      color: $main-white;
    }
  }

  &__menu {
    margin-top: 30px;
    width: fit-content;
    &-link {
      margin-left: 20px;
      text-decoration: none;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $main-white;
    }
  }
}
